@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.heading {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    padding: 50px;
    background-image: url("../../assets/headerBackground.jpg");
    background-size: cover;  
 
  

}
h1 {
    font-size: 200px;
    font-weight: bolder;
    color: white;
}

p {
    color: white;
    font-weight: bolder;
}