@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.heading {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    padding: 50px;
    background-image: url("../../assets/headerBackground.jpg");
    background-size: cover;  
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
h1 {
    color: white;    
    font-family: 'Racing Sans One', cursive;  
    font-size: 100px;      
}

p {
    color: white;
    font-weight: bolder;
}