@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.heading {
    background: #c8f1bd; 
     padding: 30px;
    /* background-image: url("../../assets/headerBackground.jpg"); */
    background-size: auto;  
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
#appname {
    color: rgb(22, 19, 19);    
    font-family: 'Racing Sans One', cursive;  
    font-size: 50px;      
}

p {
    color: rgb(12, 11, 11);
    font-weight: bolder;
}